<!DOCTYPE html>
<html>
    <head>
        <title>Labanita | Products</title>
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <form action="/api/products" metod="GET">
            <select name="category">
                <option value="milks">milk</option>
                <option value="cheese">cheese</option>
                <option value="zabady">zabady</option>
            </select>
            <button type="submit">submit</button>
        </form>
        <div class="products"></div>
        <script src="js/script.js"></script>  
    </body>
</html>