.products{
    width: 90%;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.products > img{
    width: 300px;
    height: 300px;
    margin: 10px
}